<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Server_Folders\IEB_Server\venv\Scripts\python.exe|D:\Server_Folders\IEB_Server\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="Greaves.settings" />
        <add key="PYTHONPATH" value="D:\Server_Folders\IEB_Server\Greaves" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
